@use "../abstracts" as *;

.btn {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.16px;
  cursor: pointer;
}

.btn-primary {
  background-color: $eucaplyptus;
  border: 2px solid $eucaplyptus;
  color: $dark-purple;
  transition: 0.2s ease-in;
}

.btn-primary:hover {
  background-color: $dark-purple;
  color: $eucaplyptus;
}

.btn-secondary {
  padding: 5px 0;
  border-bottom: 2px solid $eucaplyptus;
  color: $white;
  transition: 0.2s ease-in;
}

.btn-secondary:hover {
  color: $eucaplyptus;
}

@media (min-width: 768px) {
  .btn {
    font-size: 18px;
  }
}
