@use "../abstracts" as *;

header {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  .logo {
    width: 95.762px;
    height: 24.608px;
  }
}
