@use "../abstracts" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: $white;
}

.container {
  width: 95%;
  max-width: 343px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/* Tablet */
@media (min-width: 376px) {
  .container {
    max-width: 689px;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .container {
    max-width: 1114px;
  }
}
